{% extends "marketplace/base.html" %}

{% block title %}Item Management{% endblock title %}

{% block content %}

<div>

    {% if item_list %}
    <ul>
        {% for item in item_list %}
        <li>ID PK: {{item.id}}, Name: {{ item.item_name }}, Owner: {{item.item_owner}}, Featured:
            {{item.item_is_featured}} | <a href="{% url 'marketplace:item-delete' item.id %}">Delete</a></li>
        {% endfor %}
    </ul>

    {% else %}
    <p>No Items in the system. You can add an item, or wait for existing Users to add their own items.</p>
    {% endif %}
</div>



<div>
    <a href="{% url 'marketplace:item-add' %}">Add New Item</a>
</div>

{% endblock content %}