{% extends "marketplace/base.html" %}

{% block title %}Category Management List{% endblock title %}

{% block content %}

<div>

    {% if category_list %}
    <ul>
        {% for category in category_list %}
        <li>ID PK: {{category.id}}, Name: {{ category.category_name }} | <a
                href="{% url 'marketplace:category-delete' category.id %}">Delete</a></li>
        {% endfor %}
    </ul>

    {% else %}
    <p>No categories in the system. Please add at least one.</p>
    {% endif %}
</div>



<div>
    <a href="{% url 'marketplace:category-add' %}">Add New Category</a>
</div>

{% endblock content %}