<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'marketplace:index' %}">Market</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'marketplace:index' %}">Featured</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'marketplace:user-listings' %}">User Listings</a>
                </li>

                {% if perms.marketplace.market_admin %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Admin Actions</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'marketplace:category-management' %}">Category
                                Management</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'marketplace:item-management' %}">Market Listings
                                Management</a>
                        </li>
                    </ul>
                </li>
                {% endif %}

            </ul>



            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{user.username}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'marketplace:account-details' %}">Account Page</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
                {% else %}
                <li class="nav-item">
                    <a class="btn btn-outline-primary" aria-current="page" href="{% url 'login' %}">Login</a>
                </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>